* { margin:0; padding:0; }
body {
  background-color: White;
  margin: 0;
  padding: 0;
}
.body{
	background-image: url("../world.gif");
	/*background-attachment: fixed;*/
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 30rem;
	width: 100%;
}
.navbar {
  background-color: black;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  position: fixed;
  z-index: 1000;
  width: 100%;
  max-height: 4.6em;
  min-width: 30.25em;
  
}

.navbar a:link {
    text-decoration: none;
	color: #FCA311;
}

.navbar a:visited {
    text-decoration: none;
	color: #FCA311;
}

.logo{
  float: left;
}
.logo h1{
  color: #FCA311;
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  
}

.contact img{
	height: 1.25em;
	border-radius: .3125em;
	position: relative;
	top: .3125em;
}
.contact li {
  font-family: 'Abel', sans-serif;
  font-size: 1.56em;
  font-weight: 300;
  padding-right: 1em;
  display: inline;
  
}
.contact ul{
	display: inline;
	margin-right: 3rem;
}
.contact {
	float: right;
	text-transform: lowercase;
	color: #FCA311;
}
#header-text {
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 20%;
  width: 60%;
  min-width: 34.4rem;
}
#body-text {
  margin: 0 auto;
  position: relative;
  text-align: left;
  padding-top: 2em;
  width: 80%;
  max-width: 65rem;
  min-width: 37.5rem 
}
.header h1{
	color: PeachPuff;
	text-shadow: 1px 1px 2px black;
	font-family: 'Raleway', sans-serif;
	font-size: 5.4em;
	font-weight: 300;
	
}
.header h2{
	padding-top: 1.5rem;
	Color: White;
	text-shadow: 1px 1px 2px black;
	font-family: 'Playfair Display', serif;
	font-size: 2em;
	font-weight: 300;
}
.header{	
	background-image: url("../education.jpeg");
	/*background-attachment: fixed;*/
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	height: 40rem;
	width: 100%;
}
.benefits{
	width: 49%;
	float: left;
}
.akane{
	width: 49%;
	float: right;
	/*border-left-style: solid;*/
}
p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	padding-bottom: 0.5rem;
}
#body-text h1{
	color: DarkSlateGray;
	text-shadow: 1px 1px 2px black;
	font-family: 'Raleway', sans-serif;
	font-size: 2.75em;
	font-weight: 300;
	padding-bottom: 1rem;
}
#body-text img{
	width: 25%;
	margin: 0.5em;
	float: left;
}

@media screen and (max-width: 1200px) {
   
   .contact ul{
	   width: 70%;
	   margin: auto;
   }
	.contact{
		float: none;
		width: 34.5rem;
		margin: auto;
	}
	.logo{
		float: none;
		display: block;
		width: 34.5rem;
		margin: auto;
	}
	.benefits{
		width: 80%;
		float: none;
		margin: auto;
        /*border-left-style: solid;*/		
	}
	.akane{
		width: 80%;
		float: none;
		margin: auto;
	}
	.body{
		height: 100rem;
	}
	p{
		font-size: 1.75rem;
	}
	#header-text {
		width: 80%;
	}
}
